NGROK_AUTH_TOKEN=여기에_ngrok_auth_token_입력
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/여기에_webhook_url_입력
INVEST_POINT_SH=/home/terra/bin/run_invest_point.sh
INVEST_POINT_SSH_HOST=100.123.201.50
